@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansWeb';
  src: url('./assets/Fonts/IranSans/IRANSansWeb_Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('./assets/Fonts/IranSans/IRANSansWeb.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('./assets/Fonts/IranSans/IRANSansWeb_Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('./assets/Fonts/IranSans/IRANSansWeb_Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
}

:root {
  --clrLightGreen: #41914e;
  --clrGreen: #386c49;
  --clrDarkGreen: #183626;
  --clrBlue: #094b81;
  --clrWhite: #f2ffd4;
  --clrLightBrown: #dda15e;
  --clrDarkBrown: #bc6c25;
  --clrCoal: #1b1b1b;
  --clrDarkGray: #222222;
}

/* Remove autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #141414 inset !important;
    -webkit-text-fill-color: #bc6c25 !important;
    transition: background-color 5000s ease-in-out 0s;
}

body {
  direction: rtl;
  font-family: 'IRANSansWeb', sans-serif;
}

.wave-path {
  animation: waveAnimation 10s infinite ease-in-out alternate-reverse;
}

@keyframes waveAnimation {
  0% {
    d: path("M 0 100 Q 166 0, 333 100 T 666 100 T 1000 100");
  }
  50% {
    d: path("M 0 100 Q 166 200, 333 100 T 666 100 T 1000 100");
  }
  100% {
    d: path("M 0 100 Q 166 0, 333 100 T 666 100 T 1000 100");
  }
}

/* scroll bar */
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-color: var(--clrGreen) var(--clrDarkGray);
}


.marker-container {
  position: relative;
  transform: translate(-50%, -50%);
  will-change: transform;
  pointer-events: auto;
  cursor: pointer;
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* swiper styles */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  margin: 0 5px;
}

/* Custom pagination styles */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: transparent !important;
  border: 2px solid cyan;
  opacity: 1 I !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: cyan !important;
  border: none;
  border-radius: 7px;
}

.swiper-pagination-bullet:hover {
  background: cyan;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
  opacity: 1 !important;
}

#tsparticles {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.grid-pattern {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(#0004 1px, transparent 1px),
    linear-gradient(to right, #0004 1px, transparent 1px);
  background-size: 50px 50px;
  mask-image: linear-gradient(to bottom, black 20%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent);
}

.grid-pattern-no-mask {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(#0003 1px, transparent 1px),
    linear-gradient(to right, #0003 1px, transparent 1px);
  background-size: 50px 50px;
}

.grid-pattern-reverse {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(#fff2 1px, transparent 1px),
    linear-gradient(to right, #fff2 1px, transparent 1px);
  background-size: 50px 50px;
  mask-image: linear-gradient(to top, black 10%, transparent);
  -webkit-mask-image: linear-gradient(to top, black 10%, transparent);
}

.reverse-invert-grid-pattern {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image:
    linear-gradient(#fff1 1px, transparent 1px),
    linear-gradient(to right, #fff1 1px, transparent 1px);
  background-size: 50px 50px;
  mask-image: linear-gradient(to top, black 10%, transparent);
  -webkit-mask-image: linear-gradient(to top, black 10%, transparent);
}

@keyframes floating {
  0% { transform: translateY(0px) translateX(0px); opacity: 0.5; }
  50% { transform: translateY(-5px) translateX(5px); opacity: 1; }
  100% { transform: translateY(0px) translateX(0px); opacity: 0.5; }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite alternate;
}



.wave {
  position: absolute;
  width: 100%;
  height: 550px;
  bottom: 0;
  background: linear-gradient(to right, #ff3c5c10, #00ffff10);
  clip-path: polygon(0% 60%, 10% 65%, 25% 55%, 50% 70%, 75% 50%, 90% 60%, 100% 55%, 100% 100%, 0% 100%);
  animation: waveAnimation 2s infinite ease-in-out alternate;
}

@keyframes waveAnimation {
  0% {
    clip-path: polygon(0% 60%, 10% 65%, 25% 55%, 50% 70%, 75% 50%, 90% 60%, 100% 55%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 65%, 10% 60%, 25% 50%, 50% 75%, 75% 55%, 90% 65%, 100% 50%, 100% 100%, 0% 100%);
  }
}
